body{
    text-align:center;
}
.profile{
    width:500px;
    height:390px;
    margin-bottom;50px;
    border-radius:50%;
}
#welcome{
    color:coral;
    bottom:0;
    background: linear-gradient(#A63C06 0%,#710000 100%);
    display:table;
    width:100%;
    height:100%;
    z-index:9;
}
.parallax-inner{
    direction:table-cell;
    position:relative;
    text-align:center;
    vertical-align:middle;
}
h1{
    font-size:50px;
    line-height:1.2;
    font-family:inherit;
    font-weight:bold;
}
#name{
    font-size:40px;
    line-height:1.2;
    font-family: 'Cinzel', serif;
    color:#FF0035;
}
h2{
    font-size:30px;
    font-weight:300;
    line-height:1.2;
    font-family:fantasy;
}
p{
    font-size:20px;
    max-width:450px;
    line-height:1.3;
    background: linear-gradient(#96BBBB 0%,#9A4C95 100%);
}
#bio{
    text-align:center;
    font-size:40px;
}
.line{
    height:6px;
    background-color:black;
    width:70px;
    margin:8px auto;
}
.article:hover{
    color:#B8F3FF;
}
#writing a{
    text-shadow:none !important;
    text-decoration:underline !important;
    color:blueviolet !important;
}
#writing a :hover{
    font-size:20px !important;
}   c
#contact{
    background:coral;
}
#contact iframe{
    width:100%;
}
.contact_1 a{   
    text-shadow:none;
}
.contact_1 h3{
    display:inline;
}
html{
    scroll-behavior:smooth;
}
.my_nav_bar{
    position:sticky;
    top:0;
    z-index:99999;
}
#videos iframe{
    width:90%;
}
